.radio_button-root {
  font-size: 12px;
}

.radio_button-form_control {
  margin: 8px;
}

.radio_button-form-label {
  color: '#5b5b5b';
  font-size: 1rem;
}

.radio_button-group {
  margin: '8px 0';
};